<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
   {% load static %}
   {% include 'navbaradmin.html' %}

    </head>
    <body style="background-color:#ffffff">
        <center>
            <h1><strong>Liste des affectations</strong></h1>
        </center>
        <br>
        <table style="width:100%" class="table table-hover">
            <thead>
                <tr>
                <th>Courrier</th>
                <th>Service traitant</th>
                <th>Date limite de traitement</th>
                
                
            
                </tr>
            </thead>
           
        <tbody>
            
            {% for affectation in formaffect %}
                <td>{{affectation.courrier}}</td>
                <td>{{affectation.service}}</td>
                <td>{{affectation.date_limite_de_traitement}}</td>

              
            </tr>
            {% endfor %}
            </tbody>
            </table>

<style>
    thead{
        color:white;
        background-color:rgb(21, 44, 55);
    }
    th{
        text-align:center;

    }
    td{
        text-align:center;

    }
    table{
        justfify-content:center;

    }
    h1{
        margin-top:30px;
    }
    #edit{
        width:65px;
    }
    #delete{
        width:65px;
    }
</style>

    </body>
    </html>