asgiref==3.5.2
distlib==0.3.4
Django==3.2.13
filelock==3.7.0
importlib-metadata==4.11.4
lxml==4.9.1
platformdirs==2.5.2
py-qgis-server==1.8.1
pytz==2022.1
PyYAML==6.0
pyzmq==23.0.0
six==1.16.0
sqlparse==0.4.2
tornado==6.1
typing_extensions==4.2.0
virtualenv==20.14.1
zipp==3.8.0
